/* ========================
    Badge 
======================= */

.badge-one {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-one-color {
    color: $white;
    background-color: $app-badege-color-one;
}


/* ========================
    Badge end
=========================*/


/* ========================
    Button start
=========================*/

//custom button
.button-one {
    background-color: $button-three-color;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    border: 1px solid $button-three-color;
    padding: 0.375rem 0.75rem;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    border-radius: 3px;
}

.button-one:hover {
    background-color: $button-three-color;
    color: #fff;
}


/* ========================
    Button end
=========================*/


/* ========================
    Card Start
=========================*/

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}


/* ========================
    Card end
=========================*/